<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
     crossorigin="anonymous">
    <style>
.navbar{
    background-color: black;
    display: flex ;
    height:65px ;
    margin-top:0px ;
    padding:0 ;
}
 #content::before{
    content:" " ;
    background:url('https://2.bp.blogspot.com/-IYDo4C2Jfws/TgAP87P90DI/AAAAAAAAAFU/cRQKyyL6xRY/s1600/parking.jpg') no-repeat center center/cover ;
    height: 83%  ; 
    text-align: center ;
    position: absolute ;
    width:100% ;
    z-index:-1 ;
    opacity:0.63;
}
.heading{text-align: center;}
#link{
    display:flex ;
    flex-direction: column;
    align-items: center;
    margin:10px ;
}
#view{
    text-decoration: none;
    border: 2px solid black ;
    border-radius: 8px ;
    background-color: aliceblue;
    color:black ;
    padding: 10px ;
}
.list{
    display: flex ;
    list-style-type: none;
    width: 50% ;
    align-items: center;
    /* justify-content: center; */
}
.list li{
    padding: 10px ;
    margin-left: 40px ;
}
.list li a{
    text-decoration: none;
    color: white ;
}
.list li a:hover{
    background-color:aliceblue ;
    color:black ;
    border: 2px solid white ;
    padding:4px ;
    border-radius: 10px ;
}
.list li a:active{
    background-color:pink ;
    border: 2px solid white ;
    padding:4px ;
    border-radius: 10px ;
}
.right{ width: 50% ;
text-align: right;
 margin:20px ;
}
.logo{
 width:120px ; 
 display:flex ; 
 margin-left:-49px ;
 align-items: center ;
 position: absolute ;
 justify-content: center;}
.logo img{
    width: 30% ;
    border: 2px solid pink ;
    border-radius: 30px ;
}
#contact{
    background-color: antiquewhite;
    height:80% ;
}
.form{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100% ; 
    height:330px ;
}
.item{
    width: 60% ;
    padding: 4px ;
     
    border: 2px solid black ;
    border-radius: 8px ;
    margin: 10px ;
}
#btn{
    padding:9px   ;
    border: 2px solid black ;
    border-radius: 10px ;
    background-color: grey ;
    font-size: 18px; 
    cursor:pointer ;
    color:white ;
    margin: 23px ;
}
#btn:hover{
    background-color: black ;
}

#content2{
background-color:aliceblue;
display: flex ;
flex-direction: column;
height:410px ;
}
#details{
    display:flex ;
    flex-direction:row ;
    align-items: center ;
    margin-left: 100px ;
    margin-top:125px ;
    height:0px ;
    margin-bottom:330px ;
}
.slotss{
    border:5px solid black ;
    width:200px  ;
    height: 265px ;
    text-align: center;
    padding: 100px ;
}

.loginform{
    height:360px ;
    border: 4px solid black ;
    padding: 10px ;
    margin-top:10px ;
     
}
    .box2 {
      max-width: 239px;
      padding: 20px;
      border: 4px solid black;
      border-radius: 5px;
      margin-top:150px ;
      margin-left:30px ;
        position: absolute ;
        display:flex ;
        flex-direction: row;
    }

    .box2 label,
    .box2 input[type="submit"] {
      display: block;
      margin-bottom: 10px;
    }
   
    .form{
        display:flex ;
        flex-direction: column;
        
    }
    #bookslot:hover{
        background-color: black;
        color:white ;
        border: 2px solid white ;
        border-radius: 7px ;
        padding:5px ;
    }
.msg{
    margin-left:300px ;}
.fb{
    margin-left:130px ;
    width:80%;
}
#send{
    margin-bottom:100px ;}
.form-check{display:flex ;
flex-direction: column;
margin-left:150px ;}

#bookings{
    display:flex ;
    flex-direction:row ;
    align-items: center ;
    
    position: absolute ;
    right:0px ;
    left:240px ;
    width:15% ;
    {{!-- margin-bottom:300px ; --}}
}
.slotsb{
   border: 5px solid black;
    height: 180px;
    text-align: center;
    padding: 100px;
    margin-bottom: 200px;
    margin-right:0px ;
}

    </style>
</head>
<body>

    {{{body}}}

</body>
</html>