      <div class="fb">
        <h3>Your opinion matters</h3>
        <h5>Help us improve our product? <strong>Give us your feedback.</strong></h5>
        <hr>
      </div>

      <!-- Radio Buttons for Rating-->
      <div class="form-check ">
        <input name="feedback" type="radio">
        <label  >Very good</label>
        <input name="feedback" type="radio">
        <label>Good</label>
        <input name="feedback" type="radio">
        <label class="ml-3">Mediocre</label>
        <input name="feedback" type="radio">
        <label class="ml-3">Bad</label>
        <input name="feedback" type="radio">
        <label class="ml-3">Very Bad</label>
      </div>

      <!--Text Message-->
      <div class="text-center">
        <h4 class="ques">What could we improve?</h4>
      </div>
      <textarea class="msg" type="textarea" placeholder="Your Message" rows="3"></textarea>


      <!-- Modal Footer-->
      <div class="modal-footer">
        <a href="" id="send" class="btn btn-primary">Send
        </a>
        <a href="/home" id="cancel" class="btn btn-outline-primary" data-dismiss="modal">Cancel</a>
      </div>

    </div>

  </div>

</div>