<section class="vh-100 gradient-custom">
  <div class="container py-3 h-90">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body text-center">

            <div  >

              <h2 class="fw-bold  text-uppercase">Login</h2>
              <p class="text-white-50  ">Please enter your login and password!</p>

              <div class="form-outline form-white  ">
                <input type="email" id="login_email" class="form-control form-control-lg" />
                <label class="form-label" for="login_email">Email</label>
              </div>

              <div class="form-outline form-white  ">
                <input type="password" id="login_password" class="form-control form-control-lg" />
                <label class="form-label" for="login_password">Password</label>
              </div>
              {{!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> --}}
              <button id="login" class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            </div>
            <div>
              <p class="mb-0">Don't have an account? <a href='/' class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="module" src="firebase.js"></script>





{{!-- <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
	 <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>

<script type="module">
  // Import the functions you need from the SDKs you need
 // import { initializeApp } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-app.js";
  
  
 
	  // Import the functions you need from the SDKs you need
	  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";
	  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-analytics.js";
	  import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, signOut } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-auth.js";


  const firebaseConfig = {
    apiKey: "AIzaSyB5pn8-YpeZn14oCz7Ykubyujw6IS-uU9Q",
    authDomain: "smart-parking-88ddf.firebaseapp.com",
    databaseURL: "https://smart-parking-88ddf-default-rtdb.asia-southeast1.firebasedatabase.app",
    projectId: "smart-parking-88ddf",
    storageBucket: "smart-parking-88ddf.appspot.com",
    messagingSenderId: "721183918726",
    appId: "1:721183918726:web:ac0b8f1c17dcb344839f07"
  };

  // Initialize Firebase
  //firebase.initializeApp(firebaseConfig) ;

  //const database = firebase.database() ;
 // const auth = firebase.auth() ;


	  const app = initializeApp(firebaseConfig);
	  const analytics = getAnalytics(app);
	  const auth = getAuth();
	  console.log(app);


    	  
	 document.getElementById("login").addEventListener("click", function() {
		  var email =  document.getElementById("login_email").value;
		  var password = document.getElementById("login_password").value;
      
		  signInWithEmailAndPassword(auth, email, password)
		  .then((userCredential) => {
		    // Signed in 
		    const user = userCredential.user;
		    console.log(user);
		    alert(user.email+" Login successfully!!!");
            window.location.assign('/home')
		    // ...
		  })
		  .catch((error) => {
		    const errorCode = error.code;
		    const errorMessage = error.message;
		    console.log(errorMessage);
		    alert(errorMessage);
		  });		  		  
	  });
  


    
</script> --}}